.btn {
    display: inline-block;
    color: #fffefe;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-white {
    border: 2px solid #fff;
}

.btn-green {
    background: #06d56c;
}

.btn-grey {
    border: 2px solid rgba(10, 10, 10, .3);
    color: #0c1423;
    font-size: 1rem;
    font-weight: 500;
}

.dubl-btn--wrap {
    border: 2px solid rgba(10, 10, 10, .3);
    border-radius: 5px;
    display: inline-block;

}
.dubl-btn {
    color: #0c1423;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 19px 30px;
    display: inline-block;
    cursor: pointer;
    
}

.btn-right {
    padding-left: 25px;
    position: relative;
        &::before {
            content: '';
            background: #06d56c;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: none;
        }
}

.btn-left {
    padding-right: 25px;
    position: relative;
        &::after {
            content: '';
            background: #06d56c;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
}

.arrow-right {
    background: url('../img/ico/long-arrow-right.png') center center no-repeat;
    width: 28px;
    height: 12px;
    color: black;
}
