.btn {
    display: inline-block;
    color: #fffefe;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-white {
    border: 2px solid #fff;
}

.btn-green {
    background: #06d56c;
}

.btn-grey {
    border: 2px solid rgba(10, 10, 10, .3);
    color: #0c1423;
    font-size: 1rem;
    font-weight: 500;
}

