.about {
    display: flex;
}



.name-about {
    margin-bottom: 47px;
}

    .column-left {
        width: 44%;
        margin-right: 89px;
    }

    .about-img {
        width: 100%;
    }

    .column-right {
        max-width: 610px;
    }

    .about-title {
        margin-bottom: 65px;
    }

       
        .about-text {
            margin-bottom: 47px;
            opacity: 0.65;
            color: #0c1423;
            font-family: Poppins;
            font-size: 1rem;
            font-weight: 400;
            line-height: 2rem;
        }
        
        .sername {
            color: #000000;
            font-family: Poppins;
            font-size: 1.125rem;
            font-weight: 500;
            padding: 0;
            margin: 0;
        }

        .autograph {
            margin-right: 97px;
            background: url('../img/ico/john-landis.png') center center no-repeat;
            background-size: cover;
            width: 146px;
            height: 65px;
        }

        .person {
            @include flexCenter;
            margin-bottom: 76px;
        }


        .person-name {
            position: relative;
            padding-left: 88px;
            
        }
        .person-name::after  {
            content: '';
            background: #979595;
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            top: 0;
            left: 0;
            
        }