.gallery {
    padding: 0 0 206px 0;
    @media screen and (max-width: 1400px) {
        padding: 0 0 80px 0;
    }
}

.gallery-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.gallery-item {
    width: 25%;
    @media screen and (max-width: 788px) {
        width: 50%;
    }
    @media screen and (max-width: 490px) {
        width: 100%;
    }
}

.gallery-img {
    display: block;
    width: 100%;
}
