.gallery-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.gallery-item {
    width: 25%;
}

.gallery-img {
    display: block;
    width: 100%;
}
.gallery-img1 {
    background: url(../img/gallery-1.png) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}