.news {
    padding: 0 0 116px 0;
}

    .news-name {
        text-align: center;
        margin: 0 0 37px 0;
    }

    .news-title {
        text-align: center;
        margin: 0 0 101px 0;
    }
    
    .news-card__list {
        list-style: none;
        padding: 0;
        margin: 0 -22px;
        display: flex;
        justify-content: space-between;
    }

    .news-card__item {
        width: 330px;
        margin: 0 22px;
        &:hover .arrow-right {
            transform: translateX(100%);
            color: #06d56c;
        }
    }

    .news-card__firstimg {
        display: block;
        background: url('../img/news-bg_1.png') center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 250px;
        margin-bottom: 42px;
    }

    .news-card__secondtimg {
        display: block;
        background: url('../img/news-bg_2.png') center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 250px;
        margin-bottom: 42px;
    }

    .news-card__thruimg {
        display: block;
        background: url('../img/news-bg_3.png') center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 250px;
        margin-bottom: 42px;
    }

    .news-card__name {
        opacity: 0.6;
        color: #0c1423;
        font-size: 1.125rem;
        font-weight: 500;
        padding: 0;
        margin: 0 0 25px 0;
    }

    .news-card__text {
        color: #0c1423;
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 2.188rem;
        margin: 0 0 22px 0;
    }






