.price-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 0 171px 0;
    @media screen and (max-width: 1400px) {
        padding: 0 0 100px 0;
    }
    @media screen and (max-width: 1012px) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: 788px) {
        padding: 0 0 80px 0;
    }
}

    .price-column__left {
        max-width: 42%;
        margin-right: 75px;
        @media screen and (max-width: 1220px) {
            margin-right: 50px;
        }
        @media screen and (max-width: 1012px) {
            max-width: 90%;
            margin: 0 auto 35px auto;
            text-align: center;
        }
    }

    .price-name {
        margin-bottom: 35px;
        @media screen and (max-width: 1400px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 1220px) {
            margin-bottom: 10px;
        }
        @media screen and (max-width: 596px) {
            font-size: 0.9rem;
        }
        
    }

    .price-title {
        margin-bottom: 46px;
        line-height: 3rem;
         @media screen and (max-width: 1220px) {
             font-size: 2rem;
             margin-bottom: 20px;
         }
         @media screen and (max-width: 596px) {
            font-size: 1.7rem;
            line-height: 2rem;
        }
    }

    .price-text {
        color: #a2a4a7;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 2rem;
        padding: 0;
        margin: 0 0 85px 0;
        & > span {
            color: #0c1423;
        }
        @media screen and (max-width: 1220px) {
            margin: 0 0 45px 0;
        }
    }
    

    .price-column__right {
        max-width: 58%;
        @media screen and (max-width: 1012px) {
            max-width: 100%;
            margin: 0 auto;
        }
    }      
            .price-list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: 596px) {
                    flex-wrap: wrap;
                }
            }

            .price-list__item {
                max-width: 310px;
                padding: 51px 63px;
                margin-right: 34px;
                text-align: center;
                border-radius: 5px;
                border: 1px solid rgba(38, 38, 47, .09);    
                &:last-child {
                    margin-right: 25px;
                    @media screen and  (max-width: 1012px) {
                       margin-right: 0;
                    }
                }
                @media screen and (max-width: 1220px) {
                    padding: 40px 50px;
                    max-width: 300px;
                    margin-right: 40px;
                }
                @media screen and (max-width: 788px) {
                    margin-right: 30px;
                }
                @media screen and (max-width: 788px) {
                    padding: 30px 40px;
                }
                @media screen and (max-width: 596px) {
                    max-width: 100%;
                    margin: 0 0 35px 0;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
            
            .price-card__name {
                opacity: 0.5;
                color: #0c1423;
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 2rem;
                text-transform: uppercase;
                padding: 0;
                margin: 0 0 37px 0;
                @media screen and (max-width: 788px) {
                    margin: 0 0 25px 0;
                }
            }

            .price-card {
                color: #0c1423;
                font-size: 3.75rem;
                font-weight: 600;
                line-height: 2rem;
                padding: 0;
                margin: 0 0 42px 0;
                @media screen and (max-width: 1220px) {
                    font-size: 3rem;
                    margin: 0 0 30px 0;
                }
                @media screen and (max-width: 788px) {
                    line-height: 1.5rem;
                    font-size: 2.5rem;
                    margin: 0 0 20px 0;
                }
            }

            .price-card__text {
                opacity: 0.6;
                color: #0c1423;
                font-size: 1rem;
                font-weight: 400;
                line-height: 2.375rem;
                padding: 0;
                margin: 0 0 41px 0;
                @media screen and (max-width: 1220px) {
                    line-height: 1.7rem;
                    margin: 0 0 20px 0;
                }
                @media screen and (max-width: 788px) {
                    margin: 0 0 10px 0;
                }
            }

            .price-card__link {
                color: #06d56c;
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 2.375rem;
                text-transform: uppercase;
            }


            