.services-section {
    padding: 0 0 191px 0;
    position: relative;
    @media screen and (max-width: 1400px) {
        padding: 0 0 100px 0;
    }
}



    .services-name {
        text-align: center;
        margin: 0 0 27px 0;
        padding: 0;
        @media screen and (max-width: 1400px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 596px) {
            font-size: 0.9rem;
        }
    }

    .services-title {
        text-align: center;
        margin: 0 0 105px 0;
        @media screen and (max-width: 1400px) {
            margin-bottom: 35px;
        }
        @media screen and (max-width: 788px) {
            margin-bottom: 65px;
            font-size: 2rem;
        }
        @media screen and (max-width: 596px) {
            font-size: 1.7rem;
            line-height: 2rem;
        }
    }

/***
*
* SERVICES CARD
*
***/

    .services-card {
        margin-bottom: 97px;
        @media screen and (max-width: 1012px) {
            margin-bottom: 20px;
        }
    }

        .services-list {
            list-style: none;
            padding: 0;
            margin: 0 -23px;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 788px) {
                flex-wrap: wrap;
            }
        }

        .services-list__item {
            width: 33.3%;
            text-align: center;
            margin: 0 23px;
            padding: 90px 46px 58px 51px;
            background: #fff;
            transition: transform .2s linear;
                & > h2 > span {
                    text-transform: uppercase;
                }        
                &:hover .arrow-right {
                    transform: translateX(100%);
                }
                    &:hover .fa-long-arrow-right {
                        color: #06d56c;
                    }
            @media screen and (max-width: 1012px) {
                padding: 70px 30px 48px 30px;
            }
            @media screen and (max-width: 788px) {
                width: 90%;
                margin: 0 auto 50px auto;
                padding: 0;
            }
        }

        .services-card__icon {
            height: 75px;
            margin: 0 auto;
        }
       
        .services-card__title {
            color: #0c1423;
            font-size: 1.375rem;
            font-weight: 500;
            line-height: 2rem;
            padding: 0;
            margin: 50px 0 47px 0;
            @media screen and (max-width: 1012px) {
                margin: 25px 0;
            }
        }
        
        .services-card__text {
            margin-bottom: 49px;
            @media screen and (max-width: 1012px) {
                margin-bottom: 25px;
            }
        }
        
        .arrow-services {
            display: inline-block;
            margin: 0 auto;
        }
        .btn-services {
            text-align: center;
            // position: relative;
        }

//   Show all services (JQuery)
.all-services {
    display: none;
    margin-top: 30px;
}