* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Popins', sans-serif;
}

.main-content {
    flex-grow: 1;
}

// Центрирующий контейнер
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: black;
}

// font-family: 'Poppins', sans-serif;
// font-family: 'Lato', sans-serif;