* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Popins', sans-serif;
}

.main-content {
    flex-grow: 1;
}

// Центрирующий контейнер
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: black;
}

.defolt-title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 600;
    color: #0c1423;
    padding: 0;
    margin: 0;
}

.defolt-text {
    opacity: 0.51;
    color: #0c1423;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 2rem;
}

.name-section {
    color: #0c1423;
    opacity: 0.3;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2.75rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}


// font-family: 'Lato', sans-serif;

/*
 @media screen and (max-width: 1220px) {
    .container {
      width: 992px; }
}

@media screen and (max-width: 1102px) {

    .container {
      width: 768px;
    }
}

@media screen and (max-width: 798px) {

    .container{
      width: 576px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: auto;
    }
}


@media screen and (max-width: 470px) {
    .container {
        width: auto;
    }
}



*/